In [1]:
sc

## Read Mongo collection into Dataframe

In [2]:
df = spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri",
"mongodb://127.0.0.1/packt.testCollection").load()

In [3]:
df.count()

6

In [4]:
df.collect()

[Row(_id=Row(oid=u'5a0cf707534b443118f9086b'), name=u'Alice', nested=None, salary=50000, unit=u'legal'),
 Row(_id=Row(oid=u'5a0cf707534b443118f9086c'), name=u'Bob', nested=None, salary=40000, unit=u'marketing'),
 Row(_id=Row(oid=u'5a0cf707534b443118f9086d'), name=u'Charlie', nested=None, salary=60000, unit=u'communications'),
 Row(_id=Row(oid=u'5a0cf707534b443118f9086e'), name=u'David', nested=None, salary=70000, unit=u'legal'),
 Row(_id=Row(oid=u'5a0cf707534b443118f9086f'), name=u'Edwina', nested=None, salary=90000, unit=u'communications'),
 Row(_id=Row(oid=u'5a11e58e2ebedf70fcdfa912'), name=None, nested=Row(key=[u'v1', u'v2', u'v3']), salary=None, unit=None)]

## Compare to pyMongo

In [5]:
import pymongo

In [6]:
from pymongo.mongo_client import MongoClient

In [7]:
client=MongoClient('localhost')

In [8]:
db=client.packt

In [9]:
cur=db.testCollection.find()

In [10]:
for c in cur:
    print c

{u'salary': 50000, u'_id': ObjectId('5a0cf707534b443118f9086b'), u'name': u'Alice', u'unit': u'legal'}
{u'salary': 40000, u'_id': ObjectId('5a0cf707534b443118f9086c'), u'name': u'Bob', u'unit': u'marketing'}
{u'salary': 60000, u'_id': ObjectId('5a0cf707534b443118f9086d'), u'name': u'Charlie', u'unit': u'communications'}
{u'salary': 70000, u'_id': ObjectId('5a0cf707534b443118f9086e'), u'name': u'David', u'unit': u'legal'}
{u'salary': 90000, u'_id': ObjectId('5a0cf707534b443118f9086f'), u'name': u'Edwina', u'unit': u'communications'}
{u'_id': ObjectId('5a11e58e2ebedf70fcdfa912'), u'nested': {u'key': [u'v1', u'v2', u'v3']}}

## Perform query

In [11]:
pipeline = "{'$match': {'unit': 'legal'}}"

In [12]:
df = spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri",
"mongodb://127.0.0.1/packt.testCollection").option("pipeline",pipeline).load()

In [14]:
df.collect()

[Row(_id=Row(oid=u'5a0cf707534b443118f9086b'), name=u'Alice', salary=50000, unit=u'legal'),
 Row(_id=Row(oid=u'5a0cf707534b443118f9086e'), name=u'David', salary=70000, unit=u'legal')]