In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
client=MongoClient('dsmongo')

In [3]:
db=client.pack

In [5]:
coll=db.embedded

## Insert Document with nested array

In [6]:
res=coll.insert_one({'ages' : [30,42,12,19]})

In [7]:
res=coll.insert_one({'ages': [18,27,25,19]})

### Match entire array

In [10]:
coll.find_one({'ages' : [30,42,12,19]}, {'_id' : 0})

{'ages': [30, 42, 12, 19]}

### Match on presence of element array

In [12]:
coll.find_one({'ages': 30}, {'_id' : 0})

{'ages': [30, 42, 12, 19]}

### Match array with conditions on any elements in array

In [13]:
coll.find_one({'ages' : {'$gt':40, '$lt':20}}, {'_id' : 0})

{'ages': [30, 42, 12, 19]}

### Match array with conditions on any single element array

In [14]:
coll.find_one({'ages': {'$elemMatch': {'$lt' : 22, '$gt' : 15}}}, {'_id' : 0})

{'ages': [30, 42, 12, 19]}

### Match by array index

In [16]:
coll.find_one({'ages.1' : 42}, {'_id' : 0})

{'ages': [30, 42, 12, 19]}

### Match by contion on array index

In [17]:
coll.find_one({'ages.1' : {'$gt' : 40}}, {'_id' : 0})

{'ages': [30, 42, 12, 19]}

## Inser a document with nested dictionary

In [18]:
res=coll.insert_one({'personInfo' : {'name' : 'Alice', 'age' : 30}})
res=coll.insert_one({'personInfo' : {'name' : 'Bob', 'age' : 42}})
res=coll.insert_one({'personInfo' : {'name' : 'Charlie', 'age' : 12}})
res=coll.insert_one({'personInfo' : {'name' : 'David', 'age' : 19}})

### Match by Name

In [19]:
coll.find_one({'personInfo.name' : 'Alice'}, {'_id':0})

{'personInfo': {'name': 'Alice', 'age': 30}}

### Match by age

In [20]:
coll.find_one({'personInfo.age' : {'$gt' : 40}}, {'_id':0})

{'personInfo': {'name': 'Bob', 'age': 42}}